<rn:block id="unavailableBusyMessageTop"/>
<div class="rn_Chat">
    <rn:block id="unavailableBusyMessageLink">
    <a href="javascript:void(0);"><%= linkTitle %></a>
    </rn:block>
    <rn:block id="unavailableBusyMessageContents">
    <span id="rn_<%= instanceID %>_UnavailableBusyMessage"><%= message %></span>
    </rn:block>
</div>
<rn:block id="unavailableBusyMessageBottom"/>
