.rn_DateInput {
    clear:both;
    overflow:visible;
    padding-bottom:1.6em;
    position:relative;
}
.rn_DateInput .rn_Label {
    display:block;
    font-size:inherit;
    font-weight:bold;
    margin-bottom:2px;
}
.rn_DateInput fieldset {
    padding:0;
}
.rn_DateInput select {
    display:inline;
    width:32%;
}
