.rn_ChatPostMessage textarea{overflow: auto;resize: none;}
.rn_ChatPostMessage span{display: block;}
.rn_ChatPostMessage legend{display: none;}
.rn_ChatPostMessage textarea{width:100%;padding:0;}
.rn_ChatPostMessage{margin:0 1.2em 0em 1em;}
@media print{.rn_ChatPostMessage{display:none;}
}
.rn_ChatOffTheRecordDialog .rn_Textarea{clear:left;display:block;margin-bottom:1em;width:260px;}
.rn_ChatOffTheRecordDialog label{display:block;}
.rn_ChatDisconnectButton img{vertical-align: middle;}
.rn_ChatDisconnectButton{float: right;}
.rn_ChatOffTheRecordButton img{vertical-align: middle;}
.rn_ChatOffTheRecordButton{float: right;}
.rn_ChatPrintButton img{vertical-align: middle;}
.rn_ChatPrintButton{float: right;}
.rn_ChatServerConnect{text-align:center;}
.rn_ChatServerConnect{background:#EFEFF4 url(../../themes/standard/images/layout/whitePixel.png) repeat-x scroll 0 0;border:solid #BBBBBB;border-width:1px 0;line-height:1.25em;margin:0 0 1em;padding:5px;}
.rn_ChatEngagementStatus{background:#EFEFF4 url(../../themes/standard/images/layout/whitePixel.png) repeat-x scroll 0 0;border:solid #BBBBBB;border-width:1px 0;padding:5px;line-height:1.25em;margin:0 0 1em;}
.rn_ChatEngagementStatus .rn_SearchingDetailMessage, .rn_ChatEngagementStatus .rn_RequeuedDetailMessage, .rn_ChatEngagementStatus .rn_CanceledUserDetailMessage, .rn_ChatEngagementStatus .rn_CanceledSelfServiceDetailMessage, .rn_ChatEngagementStatus .rn_CanceledNoAgentsAvailDetailMessage, .rn_ChatEngagementStatus .rn_CanceledQueueTimeoutDetailMessage, .rn_ChatEngagementStatus .rn_CanceledDequeuedDetailMessage{padding: 10px;}
.rn_ChatEngagementStatus .rn_StatusPrefix, .rn_ChatEngagementStatus .rn_Status{font-weight:bolder;}
@media print{.rn_ChatEngagementStatus{display:none;}
}
.rn_ChatQueueWaitTimeContainer{background:#EFEFF4 url(../../themes/standard/images/layout/whitePixel.png) repeat-x scroll 0 0;border:1px solid #BBBBBB;border-width:1px;padding:5px;margin:0em 1em 1em 1em;line-height:1.25em;text-align:left;}
.rn_ChatQueueWaitTimeContainer .rn_ChatQueuePosition, .rn_ChatQueueWaitTimeContainer .rn_ChatEstimatedWaitTime, .rn_ChatQueueWaitTimeContainer .rn_ChatAverageWaitTime{padding-right:2px;}
.rn_ChatAgentStatus{background:#EFEFF4 url(../../themes/standard/images/layout/whitePixel.png) repeat-x scroll 0 0;border:solid #BBBBBB;border-width: 1px 1px 0;padding:5px;line-height:1.25em;margin: 0 1em 0;}
@media print{.rn_ChatAgentStatus{display:none;}
}
.rn_ChatTranscript{overflow:auto;height:15em;}
.rn_ChatTranscript .rn_MessagePost{clear:both;display:block;}
.rn_ChatTranscript ol, .rn_ChatTranscript ul, .rn_ChatTranscript dl{clear:both;display:block;}
.rn_ChatTranscript{background-color: white;border:1px solid #CCCCCC;padding:0.3em;margin:0 1em 1em;}
.rn_ChatTranscript .rn_AgentTextPrefix, .rn_ChatTranscript .rn_Action{color: #000099;}
.rn_ChatTranscript .rn_UserTextPrefix{color: #990000;}
.rn_ChatTranscript .rn_OffTheRecordMessage{color: #009900;}
.rn_ChatTranscript blockquote, .rn_ChatTranscript ul, .rn_ChatTranscript ol, .rn_ChatTranscript dl{margin:1em;}
.rn_ChatTranscript ol, .rn_ChatTranscript ul, .rn_ChatTranscript dl{margin-left:2em;}
.rn_ChatTranscript ol li{list-style: decimal outside;}
.rn_ChatTranscript ul li{list-style: disc outside;}
@media print{.rn_ChatTranscript{border:0;height:auto;margin:0;overflow:visible;}
}
.rn_ChatCancelButton img{vertical-align: middle;}
.rn_ChatCancelButton{float: right;margin:0em 1em;}
.rn_ChatRequestEmailResponseButton{float: right;margin:1em 5px;}
.rn_ChatSendButton img{vertical-align: middle;margin-top: -3px;margin-bottom: -3px;}
.rn_ChatSendButton{float: right;margin:1em 5px;}
@media print{.rn_ChatSendButton{display:none;}
}
.rn_ChatAttachFileButton img{vertical-align: middle;margin-top: -3px;margin-bottom: -3px;}
.rn_ChatAttachFileButton input[type="file"]{display: none;}
.rn_ChatFileAttachContent input[type="file"]{width: 275px;}
.rn_ChatFileAttachContent span{display:block;}
.rn_ChatAttachFileButton form button{margin: auto;}
.rn_ChatAttachFileButtonForm div{display: inline;}
.rn_FileAttachmentUpload label{display:none;}
.rn_ChatAttachFileButton{float: right;margin: 1em 5px;}
.rn_ChatCoBrowseButton img{vertical-align: middle;margin-top: -3px;margin-bottom: -3px;}
.rn_ChatCoBrowseButton iframe{visibility: visible;position: absolute;top: -1000px;left: -1000px;height: 1px;width: 1px;}
.rn_ChatCoBrowseButton{float: right;margin: 1em 5px;}
.rn_ChatQueueSearch{background:#EFEFF4 url(../../themes/standard/images/layout/whitePixel.png) repeat-x scroll 0 0;border:1px solid #BBBBBB;line-height:1.25em;margin:1em 1em 1em 1em;padding:5px;text-align:center;}
.rn_RightNowLogo a{background:url(/euf/core/static/PoweredByOracle.png) no-repeat scroll right 0 !important;display:block !important;height:29px !important;width:134px !important;}
.rn_RightNowLogo a:focus, .rn_RightNowLogo a:hover{background-position:right -37px !important;}
.rn_ChatStatus{font-size: 1.333em;font-weight: bold;line-height: 1.4em;}
.rn_ChatHours .rn_HoursBlock{margin: 15px 0 0 0;}
.rn_ChatHours .rn_HoursLabel{color:#404040;font-size:1em;font-weight:bold;line-height:1.3em;}
.rn_KeywordText input{font-size:1.333em;}
.rn_KeywordText{display:inline;}
.rn_KeywordText label{display: none;}
.rn_SearchButton{display:inline;bottom: 0px;float:left;margin-right:20px;margin-left:20px;}
.rn_SearchButton input{border:none;vertical-align:top;}
.rn_SearchButton .rn_SubmitButton{*height:30px;*line-height:21px;background-color:#d10103;color:#FFF;cursor:pointer;font-weight:bold;}
.rn_SearchButton .rn_SubmitButton:hover{background:#7B4397;cursor:pointer;}
