.rn_KeywordText input{font-size:1.333em;}
.rn_KeywordText{display:inline;}
.rn_SearchButton{display:inline;bottom: 0;}
.rn_SearchButton input{border:none;vertical-align:top;}
.rn_SearchButton .rn_SubmitButton{background-color:#0E53A7;color:#FFF;cursor:pointer;font-weight:bold;}
.rn_MobileProductCategorySearchFilter form{-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
.rn_MobileProductCategorySearchFilter.rn_Input input{display:none;}
.rn_MobileProductCategorySearchFilter .rn_Input label{cursor:pointer;}
.rn_MobileProductCategorySearchFilter .rn_Input label .rn_ParentMenuAlt{opacity:0;position:absolute;left:0;}
.rn_MobileProductCategorySearchFilter{padding-top:4px;}
.rn_MobileProductCategorySearchFilter.rn_HideEmpty{visibility:hidden;}
.rn_MobileProductCategorySearchFilter .rn_FilterDisplay{overflow:hidden;border-top:1px solid #DDD;}
.rn_MobileProductCategorySearchFilter .rn_LinkOpener{color:#555;display:inline-block;font-weight:bold;padding:8px 0;}
@-webkit-keyframes blink{from{text-shadow:0 -1px 3px rgba(255, 255, 255, 0.7);}
to{text-shadow:0 1px 3px rgba(255, 255, 255, 0.7);}
}
.rn_MobileProductCategorySearchFilter .rn_Opener{-webkit-animation-name: blink;-webkit-animation-duration: 2s;-webkit-animation-iteration-count: 4;-webkit-animation-direction: alternate;-webkit-animation-timing-function: ease-in-out;}
.rn_MobileProductCategorySearchFilter .rn_Heading .rn_Remove{float:right;margin-top:8px;}
.rn_MobileProductCategorySearchFilter .rn_FilterItem{-moz-border-image:url(../../../themes/mobile/images/BreadCrumbSprite.png) 75% 12 0 4 stretch stretch;-webkit-border-image:url(../../../themes/mobile/images/BreadCrumbSprite.png) 75% 12 0 4 stretch stretch;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;border-width: 0px 12px 0px 4px;color:#333;float:left;font-weight:bold;height:33px;max-width:200px;overflow:hidden;padding:8px 12px 2px 4px;text-decoration:none;text-overflow: ellipsis;text-shadow:0 1px 1px rgba(255, 255, 255, 0.7);white-space:nowrap;}
.rn_MobileProductCategorySearchFilter .rn_FilterItem.rn_Selected{-moz-border-image:url(../../../themes/mobile/images/BreadCrumbSprite.png) 25% 12 50% 4 stretch stretch;-webkit-border-image:url(../../../themes/mobile/images/BreadCrumbSprite.png) 25% 12 50% 4 stretch stretch;color:#FFF;font-weight:normal;text-shadow:0 1px 1px rgba(0, 0, 0, 0.7);}
.rn_MobileProductCategorySearchFilter.rn_Input, .rn_MobileProductCategorySearchFilter.rn_PanelContent{margin:0;padding:0;width:auto;}
.rn_MobileProductCategorySearchFilter.rn_Input .rn_Selected{background-color:rgba(56, 121, 217, 0.6);}
.rn_MobileProductCategorySearchFilter.rn_Input .rn_Parent, .rn_MobileProductCategorySearchFilter.rn_Input .rn_SubItem{border-bottom:1px solid #DDD;}
.rn_MobileProductCategorySearchFilter.rn_Input label{color:#FFF;display:block;font-size:1.5em;font-weight:bold;line-height:1.2em;padding:20px 16px;width:auto;}
.rn_MobileProductCategorySearchFilter.rn_Input label.rn_HasChildren{background:transparent url(../../../themes/mobile/images/layout/whiteListArrow.png) no-repeat right;}
.rn_ResultInfo{overflow:hidden;padding-bottom:6px;}
.rn_ResultInfo .rn_Results{float:right;}
.rn_ResultInfo .rn_Suggestion, .rn_ResultInfo .rn_Spell{float:left;}
.rn_ResultInfo .rn_NoResults{clear:both;}
.rn_ResultInfo .rn_NoResults ul{padding-left:2em;}
.rn_ResultInfo .rn_NoResults ul li{list-style:disc;margin:4px;}
.rn_ResultInfo .rn_Results .rn_Strike{font-weight: normal;text-decoration: line-through;}
.rn_ResultInfo .rn_Spell{color:#F00;font-size:medium;margin:10px 0 20px;}
.rn_ResultInfo .rn_Spell a{color:#039;font:italic bold medium arial, sans-serif;}
.rn_ResultInfo .rn_NoResults{background-color:#F2F2F2;border:1px solid #A1A5A9;padding:10px;}
.rn_ResultInfo .rn_Suggestion{color:#222;font-style:italic;padding:10px 0;}
.rn_ResultInfo .rn_Suggestion a{font-style:normal;}
.rn_ResultInfo .rn_Results span{font-weight:bold;}
.rn_MobileMultiline{overflow:hidden;}
.rn_MobileMultiline .rn_Loading{background: url(../../../themes/mobile/images/loading.gif) no-repeat center center;min-height:66px;}
.rn_MobileMultiline .rn_Element1, .rn_MobileMultiline .rn_Element1 a, .rn_MobileMultiline .rn_Element2, .rn_MobileMultiline .rn_Element3{display:block;}
.rn_MobileMultiline .rn_Element1{font-size:1.6em;line-height:1.4em;}
.rn_MobileMultiline .rn_Element1 img{float:right;position:relative;top:10px;}
.rn_MobileMultiline .rn_Element2, .rn_MobileMultiline .rn_Element3{font-size:1.1em;line-height:1.3em;}
.rn_MobileMultiline .rn_ElementsHeader, .rn_MobileMultiline .rn_ElementsData{color:#777;font-size:0.8em;}
.rn_MobileMultiline .rn_ElementsData{display:inline-block;}
.rn_MobileMultiline ol{padding-top:3px;}
.rn_MobileMultiline li{border-bottom:1px solid #DFDFDF;padding:15px;}
.rn_Paginator{clear:left;padding:10px 0;font-size:140%;}
.rn_Paginator a, .rn_Paginator .rn_CurrentPage{line-height:2em;margin-right:4px;padding:4px;}
.rn_Paginator img{vertical-align:middle;border:none;}
.rn_Paginator{margin-top:10px;}
.rn_Paginator a{border:1px solid #DDD;text-decoration: none;}
.rn_Paginator .rn_CurrentPage{color:#222;font-weight:bold;}
.rn_Paginator a:focus{background:#EBEFF5;}
.rn_Paginator .rn_ForwardImageLink, .rn_Paginator .rn_BackImageLink{border:none;background:none;}
