.rn_RssIcon a.rn_RssImgLink:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f143";color: #FF9933;}
.rn_AdvancedSearchDialog{overflow:visible;}
.rn_AdvancedSearchDialog .rn_DialogContent{overflow:visible;padding-top:16px;position:relative;}
.rn_AdvancedSearchDialog .rn_DialogContent .rn_SearchTips{color:#333;position:absolute;right:0px;_right:10px;top:0px;}
.rn_AdvancedSearchDialog .rn_DialogContent .rn_AdvancedSubWidget{clear:right;overflow:hidden;padding:16px 8px;}
.rn_AdvancedSearchDialog .rn_DialogContent .rn_AdvancedSubWidget:empty{display:none;}
.rn_AdvancedSearchDialog .rn_DialogContent .rn_AdvancedFilter, .rn_AdvancedSearchDialog .rn_DialogContent .rn_AdvancedSort{border-top:1px solid #FFF;}
.rn_AdvancedSearchDialog .rn_DialogContent .rn_AdvancedFilter button{width:auto !important;width:60%;max-width:60%;}
.rn_AdvancedSearchDialog .rn_DialogContent label{color:#333;float:left;font-weight:bold;width:38%;}
.rn_AdvancedSearchDialog .rn_DialogContent select{display:inline-block;*display:block;min-width:160px;}
.rn_KeywordText input{font-size:1.333em;}
.rn_KeywordText{display:inline;}
.rn_KeywordText label{display: none;}
.rn_SearchButton{display:inline;bottom: 0px;float:left;margin-right:20px;margin-left:20px;}
.rn_SearchButton input{border:none;vertical-align:top;}
.rn_SearchButton .rn_SubmitButton{*height:30px;*line-height:21px;background-color:#d10103;color:#FFF;cursor:pointer;font-weight:bold;}
.rn_SearchButton .rn_SubmitButton:hover{background:#7B4397;cursor:pointer;}
.rn_DisplaySearchFilters{clear:both;position:relative;}
.rn_DisplaySearchFilters{padding:16px 6px 0;}
.rn_DisplaySearchFilters .rn_Heading{color:#404040;font-size:1em;font-weight:bold;}
.rn_DisplaySearchFilters .rn_Filter{overflow:hidden;padding:6px 0;}
.rn_DisplaySearchFilters .rn_Label{color:#505050;font-size:0.917em;font-weight:bold;margin-bottom:4px;}
.rn_DisplaySearchFilters .rn_Label a{text-decoration:none;}
.rn_DisplaySearchFilters .rn_Label img{margin-left:4px;vertical-align:middle;}
.rn_DisplaySearchFilters .rn_FilterItem{background-color:#FFF;border-color:#D2D2D2;border-style:solid;border-width:1px 0;color:#333;float:left;margin-left:-6px;padding:6px 4px 6px 10px;text-decoration:none;}
.rn_DisplaySearchFilters .rn_Selected{background-color:#F0F0F0;color:#000;cursor:default;font-weight:bold;}
.rn_DisplaySearchFilters .rn_Separator{background:transparent url(../../themes/standard/images/breadCrumb.png) no-repeat scroll 0px center;float:left;height:0;padding-top:29px;_padding-top:15px;position:relative;width:8px;}
.rn_DisplaySearchFilters .rn_Separator.rn_Selected{background-position:right center !important;}
.rn_ResultInfo{overflow:hidden;padding-bottom:6px;}
.rn_ResultInfo .rn_Results{float:right;}
.rn_ResultInfo .rn_Suggestion, .rn_ResultInfo .rn_Spell{float:left;}
.rn_ResultInfo .rn_NoResults{clear:both;}
.rn_ResultInfo .rn_NoResults ul{padding-left:2em;}
.rn_ResultInfo .rn_NoResults ul li{list-style:disc;margin:4px;}
.rn_ResultInfo .rn_Results .rn_Strike{font-weight: normal;text-decoration: line-through;}
.rn_ResultInfo .rn_Spell{color:#F00;font-size:medium;margin:10px 0 20px;}
.rn_ResultInfo .rn_Spell a{color:#039;font-style:italic;font-weight:bold;}
.rn_ResultInfo .rn_NoResults{background-color:#F2F2F2;border:1px solid #A1A5A9;padding:10px;}
.rn_ResultInfo .rn_Suggestion{color:#222;font-style:italic;padding:10px 0;}
.rn_ResultInfo .rn_Suggestion a{font-style:normal;}
.rn_ResultInfo .rn_Results span{font-weight:bold;}
.rn_TopicWords{background-color: #FAFAFA;border: 1px solid #DEDEDE;margin: 8px 0 20px;padding: 6px;}
.rn_TopicWords dl{padding-left: 12px;}
.rn_TopicWords dd{padding-bottom: 10px;}
.rn_TopicWords img{margin-right: 6px;vertical-align: middle;}
.rn_TopicWords .rn_Title{color:#2F2F2F;font-size:1.167em;line-height:1.3em;font-weight:bold;font-family:arial,sans-serif;}
.rn_Multiline{overflow:hidden;}
.rn_Multiline .rn_Loading{background: url(../../themes/standard/images/loading.gif) no-repeat center center;height:auto !important;height:66px;min-height:66px;}
.rn_Multiline .rn_Element1, .rn_Multiline .rn_Element2{font-size:15px;line-height:24px;color:#7B4397;}
.rn_Multiline .rn_Element3{font-size:13px;line-height:22px;color:#000000;float:left;}
.rn_Multiline .rn_ElementsHeader, .rn_Multiline .rn_ElementsData{color:#999999;font-size:10px;line-height:19px;float:left;display:block;position:relative;padding-bottom: 12px;}
.rn_Multiline ol{padding-top:3px;}
.rn_Multiline li{display: table-row;margin-bottom: 12px;padding-bottom: 12px;}
.rn_Paginator{clear:left;padding:10px 0;font-size:140%;}
.rn_Paginator a, .rn_Paginator .rn_CurrentPage{line-height:2em;margin-right:4px;padding:4px;}
.rn_Paginator img{vertical-align:middle;border:none;}
.rn_Paginator{margin-top:10px;}
.rn_Paginator a{border:1px solid #DDD;text-decoration: none;padding: 8px 12px;color:#000000;font-size:12px;margin-right:8px;}
.rn_Paginator .rn_CurrentPage{color:#000000;font-weight:normal;}
.rn_Paginator a:hover, .rn_Paginator a:focus{background:#EBEFF5;}
.rn_Paginator .rn_ForwardImageLink, .rn_Paginator .rn_ForwardImageLink:hover, .rn_Paginator .rn_ForwardImageLink:focus, .rn_Paginator .rn_BackImageLink:hover, .rn_Paginator .rn_BackImageLink:focus, .rn_Paginator .rn_BackImageLink{border:none;background:none;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton{background:none;color:#000;cursor:pointer;font-weight:normal;overflow:hidden;text-overflow:ellipsis;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;z-index:0 !important;}
.rn_ProductCategorySearchFilter .yui-overlay-hidden .rn_Panel table{*border-collapse:separate;}
.rn_ProductCategorySearchFilter .ygtvrow{cursor:pointer;}
.rn_ProductCategorySearchFilter .ygtvspacer{width:1em;display:block;}
.rn_ProductCategorySearchFilter .ygtvlabel, .rn_ProductCategorySearchFilter .ygtvlabel:link, .rn_ProductCategorySearchFilter .ygtvlabel:visited, .rn_ProductCategorySearchFilter .ygtvlabel:hover{font-size:inherit;}
.rn_ProductCategorySearchFilter .rn_PanelContainer .yui3-widget-hd{display: none;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton{background:#FFF url(../../themes/standard/images/splitButtonArrow.png) no-repeat scroll right center;border:1px solid #B1B1B1;min-height:1.5em;min-width:250px;padding:4px 20px 4px 4px;text-align:left;text-shadow:none;}
.rn_ProductCategorySearchFilter .rn_Panel{background:#FFF;border:1px solid #B1B1B1;max-height:200px;overflow:auto;padding:6px;_height:200px;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton:hover, .rn_ProductCategorySearchFilter button.rn_DisplayButton:focus{background-color:#F8F8F8;}
.rn_ProductCategorySearchFilter table{border-collapse:collapse;}
.rn_ProductCategorySearchFilter .rn_Label{color:#333333;float:left;font-weight:bold;width:38%;}
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover{color:#111;}
